
.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  text-align: center;
  z-index: 100;
}

.modal.active {
  opacity: 1;
  pointer-events: all;

}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  /* height: 90%; */
  /* width: 60%; */
  /* min-width: 300px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

.modal-content.active {
  transform: scale(1);
  transition: 0.4s all; 
  max-height: 90%;
  margin: 0 1rem;
  /* width: 60%; */
  max-width: 800px;

}

.modal-content button {
  width: fit-content;
  margin: 0 auto;
}

.modal-slider {
  margin: 1rem 0 0.5rem;

  width: 100%;
 
}

.modal-card {
  display: block;
  padding-bottom: 1rem;
  height: fit-content;
}

.modal-card img {
  height: auto;
  
}

.modal-slider .swiper-button-prev,
.modal-slider .swiper-button-next {
  color: #709dff;
  text-shadow: 0 0 3px black;
}


.modal-slider .swiper-button-prev:hover,
.modal-slider .swiper-button-next:hover {
  opacity: 0.5;
  color: white;
}