.footer {
    width: 100%;
    padding: 2rem 0;
    background-color: #f8f8f8;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.2rem;
}

.footer .col {
    margin: auto;
}

.footer h3 {
    margin: .8rem 0
}

.footer p {
    margin: .4rem 0;
    cursor: pointer;
}

.footer .social {
    text-align: center;
}

.footer-copyright {
    margin: 3rem auto 0;
    text-align: end;
    width: fit-content;
}

.footer-copyright p {
    text-transform: lowercase;
    position: relative;
    font-size: 0.8rem;
}

.footer-copyright p a {
    text-transform: none;
    color: inherit;
    font-size: inherit;
}
     
.footer-copyright p a::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -35px;
    top: -7px;
    width: 30px;
    height: 30px;
    background-image: url("./../../assets/eformaliza.png");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }
    

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: #5651e5;
    cursor: pointer;
    transition: 0.3s;
}

.footer .icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem;
    }
}
