.opinions {
  text-align: center;
  margin: 2.5rem auto;
}

.slider {
  max-width: 100%;
  padding: 2rem;
  height: 250px;
  margin: 1rem;
  overflow: hidden;

}

.slide {
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  
}

.slide-card {
  background-image: linear-gradient(45deg, #5651e5 0%, #709dff 100%);
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  overflow: hidden;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.3rem;
  cursor: grabbing;
}
.slide-card p:first-child {
  margin: auto;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
  color: black; 
}

.slider .swiper-button-prev {
  transform: translateX(-10px);
 }

.slider .swiper-button-next {
 transform: translateX(10px);
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(0, 0, 0, 0.47);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.695);
  opacity: 1;
 
}

/* .swiper-container {
  border: 1px solid;
} */

@media screen and (max-width: 640px) {

  .slide {
 
    width: 100px;
  }

  .slide-card {
    
    width: 80%;

    height: 150px;

    line-height: 1.3rem;

  } 
}

@media screen and (max-width: 768px) {
  .slide {
 
    width: 100px;
  }
}